//
// Base -> Scaffolding
// --------------------------------------------------

//
// Make all elements box-sizing
//
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

//
// Delete focus border
//
a:active, a:focus {outline: none;}
input, textarea {outline:none;}
input:active, textarea:active {outline:none;}
button:active, button:focus {outline: none;}
:focus {outline:none;}
button::-moz-focus-inner {border: 0;}

//
// Clearfix
//
.clearfix {
  @include clearfix();
}

//
// HTML
//
html {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

//
// Basic typography styles
//
body {
  background-color: $base-background;
  color: $base-color;
  font-weight: $base-font-weight;
  font-size: $base-font-size;
  font-family: $base-font-family;
  line-height: $base-line-height;
}

section {
  background: $white-lighten;
}

//
// Link
//
a {
  color: $link-color;
  @include transition;
  text-decoration: none;
  border-bottom: 1px solid transparent;

  &:hover,
  &:active,
  &:focus {
    border-color: $link-hover-color;
  }
}


.flex-midbet {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.flex-midcen {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.space__lg {
  margin: 40px 0;
  @media screen and (min-width: $screen-adaptive-nav) {
    margin: 80px 0;
  }
}

.margbot40 {
  margin-bottom: 20px;
  @media screen and (min-width: $screen-adaptive-nav) {
    margin-bottom: 40px;
  }
}

.margtop40 {
  margin-top: 40px;
}
.margtop0 {
  margin-top: 0 !important;
}
.margtop20 {
  margin-top: 20px;
}
.padtop40 {
  padding-top: 40px;
}
.padtb30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.margtop80 {
  margin-top: 40px;
  @media screen and (min-width: $screen-adaptive-nav) {
    margin-top: 80px;
  }
}
.column__xs {
  flex-direction: column;
}

//
// Images
//
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}


//
// Display none
//
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0,0,0,0);
  overflow: hidden;
}
