//
// Partials -> Footer
// ------------------------------------


//
// Footer
//
.page-footer {
  &__top {
    padding: 20px 0;
    background-color: $base-color-main;
    .main-nav__item {      
      @media screen and (max-width: $screen-sm-max) {
        width: 50%;
      }
    }
    .main-nav__link {
      color: $white-lighten;
      &:hover {
        border-color: $white-lighten;
      }
    }
  }
  &__bot {
    padding: 60px 0;
    color: $white-lighten;
    background-color: $color-type-1a;
    @media screen and (max-width: $screen-sm-max) {
      padding: 40px 0;
    }
  }
  &__lang {
    li + li {
      border-left: 1px solid $gray;
    }
  }
  &__item {
    & + & {
      margin-top: 50px;
    }
    @media screen and (max-width: $screen-sm-max) {
       > div {
        width: 100%;
        margin-bottom: 30px;
      }
    }
  }
  &__copyrights {
    @media screen and (max-width: $screen-sm-max) {
       order: -1;
       margin-bottom: 0 !important;
       text-align: center;
    }
    span, img {
      vertical-align: baseline;
    }
  }
}
