//
// Partials -> Header
// ------------------------------------


//
// Header
//
.main-nav__close {
  cursor: pointer;
  position: absolute;
  top: 20px;right: 20px;
}
.page-header {
  .btn {
    position: relative;
    &::after {
      content: '';
      border-style: solid;
      border-width: 0 18px 18px 0;
      border-color: transparent #ffffff transparent transparent;
      position: absolute;
      top: -1px;right: -1px;
      z-index: 1;
    }
  }
  input {
    border: none;
    border-bottom: 1px solid $gray;
    &:focus {
      box-shadow: none;
    }
  }
  &__mobile {
    // display: none;
    position: fixed;
    overflow-y: auto;
    background-color: $white-lighten;
    top: 0;left: 0;right: 0;bottom: 160%;
    z-index: 11;
    padding: 0 20px;
    font-size: 20px;
    @include transition();
    &.active {
      bottom: 0;
      padding: 20px;
      @media screen and (min-width: $screen-desktop) {
        display: none;
      }
    }
    > div {
      margin-bottom: 20px;
    }
    .main-nav__item {
      width: 100%;
      margin-bottom: 10px;
    }
  }
  &__top {
    @extend .flex-midbet;
    padding: 20px 0;
  }
  &__bot {
    @media screen and (min-width: $screen-tablet) {
      padding: 20px 0;
      border-top: 1px solid rgba($black-darken, 0.1);
    }
  }
  &__logo {
    a {text-decoration: none;}
    img {
      vertical-align: middle;
    }
  }
  &__lang {
    a {
      &:hover {
        border-color: $base-color-main;
      }
    }
    ul {
      margin-bottom: 15px;
    }
    li + li {
      border-left: 1px solid $gray;
    }
  }
  &__label {
    align-self: start;
    @media screen and (min-width: $screen-tablet) {
      margin-top: 20px;
    }
  }
}

//
// Main title
//
.title { }


//
// old-browser
//
.browsehappy {
  @extend .container;
}
.lt-ie8 { }
