//
// Partials -> Main
// ------------------------------------

.animate-links {
  &:after {
    display: block;
    content: "";
    margin-top: 10px;
    height: 2px;
    width: 100%;
    background-color: $base-color-main;
    transition: width .3s ease-in-out;
  }
  &:hover:after,
  &:focus:after {
      width: 0;
  }
}

//
// Main container
//
.page-main {
  overflow: hidden;
}

.relative {
  position: relative;
}

//sections
.title {
  margin-top: 0;
  margin-bottom: 30px;
  line-height: 1.1;
  span {
    display: inline-block;
    position: relative;
    // border-bottom: 2px solid $base-color-main;
    @extend .animate-links;
  }
}

.types {
  padding: 80px 0;
  color: $white-lighten;
  background: url('../images/back-decor.jpg') no-repeat center center / cover, $base-color-main;
  h5 {
    margin-top: 10px;
  }
  &__item {
    padding: 30px 15px !important;
    border: 1px solid #80b9ed;
    margin-left: -1px;
    @media screen and (min-width: $screen-tablet) {
      padding: 15px !important;
    }
    @media screen and (min-width: $screen-xl-desktop) {
      padding: 25px 40px;
    }
  }
}

.news {
  @extend .space__lg;
  &__item {
    padding: 10px;
    display: flex !important;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 30px;
    @media screen and (min-width: $screen-phone) {
      padding: 30px;
      border: 1px solid #d9e1e6;
      height: 400px;
      margin-bottom: 0;
    }
    &-img {
      text-align: center;
      margin-bottom: 20px;
      img {width: 100%;}
    }
    &-title {
      line-height: 1.2;
      margin-bottom: 15px;
    }
    &-date {
      margin-top: auto;
      span {
        margin-left: 10px;
      }
    }

    @media screen and (max-width: $screen-sm-max) {
      &:nth-child(n+4) {
        display: none;
      }
    }
  }
}

.gallery {
  @extend .space__lg;
  a {
    border-color: transparent;
    position: relative;
    z-index: 1;
  }
  &__item {
    &-img {
      position: relative;
      display: block;
      img {
        width: 100%;
      }
      &:hover {
        opacity: 0.8;
        &::after {
          content: '';
          background: url('../images/icons/zoom.png') no-repeat center center, rgba($base-color-main, 0.6);
          position: absolute;
          z-index: 0;
          top: 0;bottom: 0;left: 0;right: 0;
        }
      }
    }
  }
}

.chart {
  @extend .space__lg;
  &-inner {
    border: 1px solid #d9e1e6;
    padding: 25px;
    margin-bottom: 20px;
    @media screen and (min-width: $screen-desktop) {
      max-width: 400px;
      margin-bottom: 50px;
    }
    @media screen and (min-width: $screen-xl-desktop) {
      padding: 50px;
    }
  }
  &__item {
    flex-wrap: nowrap;
    & + & {
      margin-top: 30px;
    }
    &-img {
      width: 15%;
    }
    &-desc {
      width: 85%;
    }
  }
  .btn--link {
    font-size: 20px;
    @media screen and (min-width: $screen-tablet) {
      font-size: $base-font-size;
    }
  }
}

.experience {
  &-inner {
    position: relative;
    padding-left: 40px;
    &:before {
      content: '';
      position: absolute;
      top: 5px;left: 10px;
      bottom: 0;
      width: 8px;
      height: 100%;
      border-radius: 3px;
      background-color: #84398d;
      background-image: linear-gradient(to top, #246db4 0%, #84398d 100%);
    }
  }
  &__item {
    & + & {
      margin-top: 40px;
    }
    &-title {
      margin-bottom: 20px;
      position: relative;
      &::before {
        content: '';
        width: 24px;
        height: 24px;
        @include border-radius(50%);
        position: absolute;
        top: 0;left: -38px;
        display: block;
      }
      &.text--info {
        &::before {
          background-color: #2270b5;
          background-image: linear-gradient(30deg, #2270b5 0%, #5aafbc 100%);
        }
      }
      &.text--warning {
        &::before {
          background-color: #ff9301;
          background-image: linear-gradient(30deg, #ff9301 0%, #ff6037 100%);
        }
      }
      &.text--success {
        &::before {
          background-color: #4cd964;
        }
      }
    }
    li {
      margin-bottom: 20px;
    }
  }
}

.advantages {
  @extend .space__lg;
  border-top: 1px solid #d9e1e6;
  border-bottom: 1px solid #d9e1e6;
  &-inner {
    padding-top: 20px;
    padding-bottom: 20px;
    @media screen and (min-width: $screen-desktop) {
      padding: 70px 30px 70px 70px;
    }
    &--pr {
      color: $white-lighten;
      position: relative;
      &::after {
        content: '';
        background-color: $base-color-main;
        position: absolute;
        top: 0;bottom: 0;left: 100%;
        width: 100%;
      }
      @media screen and (max-width: $screen-sm-max) {
        &::before {
          content: '';
          background-color: $base-color-main;
          position: absolute;
          top: 0;bottom: 0;right: 100%;
          width: 100%;
        }
      }
      .title {
        border-color: $white-lighten;
      }
      ul {margin: 0 0 20px 0;}
      a {
        color: $white-lighten;
        display: inline-block;
        border: none;
        // &:hover {
        //   border-color: $white-lighten;
        // }
        &:after {
          display: block;
          content: "";
          margin-top: 10px;
          height: 2px;
          width: 0;
          background-color: $white-lighten;
          transition: width .3s ease-in-out;
        }
        &:hover:after,
        &:focus:after {
            width: 100%;
        }
      }
      li {
        margin-top: 15px;
      }
    }
  }
  &__item {
    display: inline-block;
    position: relative;
    margin-top: 20px;
    min-height: 50px;
    // border-bottom: 2px solid $base-color-main;
    padding-left: 15px;
   @extend .animate-links;
    @media screen and (min-width: $screen-xl-desktop) {
      margin-top: 90px;
    }
    span {
      position: absolute;
      top: 0;left: 0;
    }
  }
}

.partners {
  @extend .space__lg;
  &-inner {
    @media screen and (min-width: $screen-tablet) {
       > div {
        width: calc(100% / 4);
        text-align: center;
      }
    }
    @media screen and (min-width: $screen-xl-desktop) {
       > div {
        width: auto;
      }
    }
    @media screen and (max-width: $screen-sm-max) {
       > div {
        width: 50%;
        text-align: center;
      }
    }
    @media screen and (max-width: $screen-xs-max) {
       > div {
        width: 100%;
        margin-bottom: 50px;
      }
    }
  }
}

.reviews {
  padding-top: 40px;
  padding-bottom: 40px;
  border-top: 1px solid #d9e1e6;
  @media screen and (min-width: $screen-adaptive-nav) {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  &__item {
    padding-right: 30px;
    padding-left: 30px;
    @media screen and (max-width: $screen-sm-max) {
      margin-bottom: 40px;
      padding-right: 10px;
      padding-left: 10px;
      &:nth-child(n+4) {
        display: none;
      }
    }
    @media screen and (min-width: $screen-adaptive-nav) {
      padding-left: 0;
    }
    @media screen and (min-width: $screen-xl-desktop) {
      padding-right: 100px;
    }
    &-img {
      text-align: center;
      margin-bottom: 20px;
    }
  }
  .slick-list {
    overflow: visible;
  }
  &-inner {
    position: relative;
    &::after,
    &::before {
      content: '';
      background: rgba($white-lighten, 0.8);
      position: absolute;
      top: 0;bottom: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
    }
    &::after {
      left: 100%;
    }
    &::before {
      right: 100%;
    }
  }
}
//sections

.text-item {
  margin: 30px 0;
  @media screen and (min-width: $screen-adaptive-nav) {
    margin: 60px 0;
  }
  a:not(.btn) {
    color: $base-color-main;
  }
  h2, h3, h4 {
    margin-top: 40px;
    margin-bottom: 20px;
  }
}
.city_addres {
  .name {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .info {
    max-height: 0;
    overflow: hidden;
    @include transition();
  }
  .item_addr_opened .info {
    max-height: 1000px;
  }
}
.notice {
  border: 3px solid $base-color-main;
  padding: 20px;
  margin: 15px 0;
  @media screen and (min-width: $screen-adaptive-nav) {
    padding: 40px 60px;
    margin: 30px 0;
  }
  .text__lg {
    font-size: 20px;
    @media screen and (min-width: $screen-adaptive-nav) {
      font-size: 24px;
    }
  }
}
.scope_of_work {
  font-size: 20px;
  @media screen and (min-width: $screen-adaptive-nav) {
    font-size: 30px;
  }
}
.vacDescription {
  padding: 15px 0;
  font-size: 13px;
  background-color: #f5f5f5;
  &-icon {
    width: 89px;
    height: 91px;
    display: inline-block;
    vertical-align: top;
    background: url(../images/vac_i_0.png) no-repeat -12px -12px;
    img {
      margin: 18px 0 0 -20px;
    }
  }
}
.link-ico {
  img {
    margin-right: 10px;
  }
  span {
    vertical-align: middle;
  }
}
.normative_base {
  background-color: #ebebeb;
  padding: 15px 0;
  ul {
    margin-bottom: 0;
  }
  a {
    color: $base-color-main;
    &.active {
      color: $color-type-2c;
    }
  }
}
.submit_request {
  margin-top: auto;
}
.cooperation_guarantees {
  background-color: #ebebeb;
  padding: 40px 0;
  &-inner {
    margin-top: 40px;
  }
}
.servces-menu {
  margin: 30px 0;
  ul {margin: 0;}
  li {
    line-height: 1.7;
  }
  h4 {
    margin: 0;
  }
  &__item {
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  &--grey {
    background-color: $gray-lighten;
    &::after {
      content: '';
      background-color: $gray-lighten;
      position: absolute;
      top: 0;bottom: 0;
      left: -100%;
      width: 100%;
    }
  }
}
.work_performed {
    height: 34px;
    display: inline-block;
    padding-left: 41px;
    background: url("../images/work_performed.png") no-repeat 0 50%;
}
.inq_link {
  position: absolute;
  top: -15px;right: 0;
}
.application_form {
  display: flex;
  align-items: center;
  padding: 5px 15px;
  width: 250px;
  margin-top: 30px;
  justify-content: space-between;
  border: 1px solid $base-color-main;
  color: $black;
  float: right;
}
.collapse {
  &__item {
    margin-bottom: 20px;
  }
  &-link {
    @extend .is-row;
    @extend .is-row--null;
    @extend .between__xs;
    @extend .middle__xs;
    cursor: pointer;
    padding: 20px 20px 20px 60px;
    background: url('../images/icons/title_marker.png') no-repeat center left 20px, $gray-lighten;
    p {margin-bottom: 0;}
    &.active {
      background: url('../images/icons/title_marker_in.png') no-repeat center left 20px, $gray-lighten;
    }
    &--sm {
      cursor: pointer;
      padding: 10px 30px 10px 0;
      display: inline-block;
      p {margin-bottom: 0;}
      &.active {
        color: $base-color-main;
        background: url('../images/icons/title_marker.png') no-repeat center right;
      }
    }
  }
  &-inner {
    display: none;
    padding: 10px;
    @media screen and (min-width: $screen-adaptive-nav) {
      padding: 10px 30px 30px;
    }
  }
}
.activities {
  @media screen and (min-width: $screen-adaptive-nav) {
    .is-col {
      padding-left: 25px;
      padding-right: 25px;
    }
  }
  &__item {
    margin-bottom: 20px;
    @media screen and (min-width: $screen-tablet) {
      margin-bottom: 70px;
    }
    h4 {
      margin-top: 0;
    }
    &-header {
      margin-bottom: 30px;
    }
    &-date {
      text-align: center;
      @media screen and (min-width: $screen-tablet) {
        text-align: right;
        border-right: 5px solid $color-type-2a;
      }
      span {
        font-size: 40px;
        @media screen and (min-width: $screen-tablet) {
          display: block;
        }
      }
    }
    &-desc {
      a {
        color: $black !important;
      }
    }
    &-name {
      font-size: 24px;
    }
    &-body {
      margin: 30px 0;
    }
  }
}
.publications {
  &-inner {
    margin-bottom: 10px;
  }
  &__item {
    margin-right: 15px;
  }
}
.icons-menu {
  margin-bottom: 40px;
  &__item {
    margin-bottom: 15px;
  }
}
.icons--list {
  &__item {
    padding: 11px 0;
    &:nth-child(odd) {
      background: #ededed;
    }
    img {
      margin: 0 5px;
      height: 28px;
    }
  }
}
.tips-menu {
  margin-bottom: 40px;
  .is-col {
    width: 50%;
    @media screen and (min-width: $screen-phone) {
      width: 33.3333%;
    }
    @media screen and (min-width: $screen-tablet) {
      width: 20%;
    }
  }
  &__item {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    height: 200px;
    text-align: center;
    color: $white-lighten !important;
    background: $base-color-main;
    width: 100%;
    text-decoration: none;
    border: 1px solid $white-lighten;
    &-name,
    &-img {
      opacity: 0.5;
    }
    &-img {
      margin-bottom: 20px;
    }
  }
}
.topline {
  position: relative;
  padding-top: 20px;
  margin-bottom: 30px;
  &::before {
    content: '';
    width: 40px;
    height: 3px;
    background-color: $base-color-main;
    position: absolute;
    top: 0;left: 0;
  }
}
.dark-slider {
  padding: 20px;
  background: #f2f2f2;
  @media screen and (min-width: $screen-tablet) {
    padding: 30px;
  }
}
.alphabet {
  a {
    font-size: 18px;
    width: 32px;
    height: 32px;
    display: inline-block;
    text-transform: uppercase;
    color: #bcbcbc !important;
    text-decoration: none;
    text-align: center;
    border: 3px solid #fff;
    &:hover,
    &.active {
      color: $base-color-main !important;
      border-color: $base-color-main;
    }
  }
}
