//
// Modules -> Breadcrumbs
// --------------------------------------------------

@if $use-breadcrumb == true {
  .breadcrumbs {
    padding: $breadcrumb-padding-vertical 0;
    margin: $line-height-computed 0;
    list-style: none;
    background-color: $breadcrumb-bg;

    &__item {
      display: inline-block;
      & + & {
        &:before {
          content: "#{$breadcrumb-separator}";
          padding: 0 5px;
          color: $breadcrumb-color;
        }
      }

      &.active {
        color: $breadcrumb-active-color;
      }
    }
    &__link {
      color: $breadcrumb-color;
    }
  }
}
