//
// Modules -> Navs
// --------------------------------------------------

.main-nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  @extend .flex-midbet;

  &__item {
    position: relative;

    @if $use-adaptive == true {
      display: block;
      @media screen and (min-width: $screen-adaptive-nav) {
        display: inline-block;
      }
    } @else {
      display: inline-block;
    }
  }
  &__link {
    position: relative;
    padding: $nav-link-padding;
    text-decoration: none;
    display: inline-block;
    border-bottom: none;
    color: $base-color;
    .active &, &:hover, &:focus {
      color: $base-color-main;
    }
    &:after {
      display: block;
      content: "";
      height: 2px;
      width: 0;
      background-color: $base-color-main;
      transition: width .3s ease-in-out;
    }
    .active &:after,
    &:hover:after,
    &:focus:after {
        width: 100%;
    }
  }
  img {
    max-width: none;
  }

  @if $use-adaptive == true {
    &__toggle {
      position: relative;
      // float: right;
      padding: 9px 10px;
      background-color: transparent;
      border: none;
      cursor: pointer;

      &:focus {
        outline: 0;
      }
      .icon-bar {
        display: block;
        width: 30px;
        height: 2px;
        background: #000;
        border-radius: 1px;
      }
      .icon-bar + .icon-bar {
        margin-top: 4px;
      }
      @media screen and (min-width: $screen-tablet) {
        display: none;
      }
    }
    &__collapse {
      overflow-x: visible;
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
      @include clearfix;
      -webkit-overflow-scrolling: touch;
      clear: left;
      display: none;

      &.in {
        overflow-y: auto;
      }

      @media screen and (min-width: $screen-adaptive-nav) {
        display: block !important;
        width: auto;
        border-top: 0;
        box-shadow: none;

        &.collapse {
          display: block !important;
          height: auto !important;
          padding-bottom: 0;
          overflow: visible !important;
        }

        &.in {
          overflow-y: visible;
        }
      }
    }
  }
}


.sub-nav {
  display: none;
  .main-nav__item {
    display: block;
    margin-bottom: 0 !important;
  }
  .main-nav__link {
    padding: 5px 10px;
    display: block;
    color: $white-lighten;
    background: $base-color-main;
    &:hover {
      color: $base-color-main;
      background: $white-lighten;
    }
  }
  @media screen and (min-width: $screen-adaptive-nav) {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    max-height: 0;
    min-width: 300px;
    z-index: 10;
    overflow: hidden;
    @include transition();
    li:hover & {
      max-height: 600px;
    }
  }
}

.navbar {
  position: relative;
}
