//
// Modules -> Pagination (multiple pages)
// --------------------------------------------------

@if $use-pagination == true {
  .pagination {
    display: block;
    padding-left: 0;
    margin: $line-height-computed 0;
    border-radius: $border-radius-base;
    text-align: center;

    &__item {
      display: inline-block;
      &:last-child,
      &:first-child {
        a {
          margin: 0 10px;
          border: 1px solid #d9e1e6;
          @include border-radius(0);
        }
      }
    }

    &__link {
      position: relative;
      font-size: 14px;
      float: left;
      width: 35px;
      height: 35px;
      text-align: center;
      line-height: 35px;
      text-decoration: none;
      color: $black;
      background-color: $pagination-bg;
      border: 1px solid $pagination-border;
      @include border-radius(50px);
      &:hover,
      &:focus {
        z-index: 3;
        color: $pagination-hover-color !important;
        background-color: $pagination-hover-bg;
        border-color: $pagination-hover-border;
      }
    }

    &__item.active a {
      &,
      &:hover,
      &:focus {
        z-index: 2;
        color: $pagination-active-color !important;
        background-color: $pagination-active-bg;
        border-color: $pagination-active-border;
        cursor: default;
      }
    }
  }
}
