//
// Pages -> Index
// ------------------------------------

.page-index { }

.clock {
  height: 400px;
  // background: url('../images/background-mb.jpg') no-repeat center center / cover;
  background-color: $base-color-main;
  position: relative;
  @media screen and (min-width: $screen-desktop) {
    align-items: center;
    display: flex;
    height: 700px;
    background-color: $base-color-main;
    // background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include transition();
  }
  // &-img {
  //   position: absolute;
  //   top: 0;left: 0;right: 0;bottom: 0;
  //   img {
  //     @include transition();
  //   }
  // }
  .slick-arrow {
    top: auto;
    bottom: 30px;
    z-index: 10;
    margin: auto;
  }
  .slick-arrow--bb {
    border: 1px solid #fff;
    i {
      color: #fff;
    }
    &.slick-arrow-left {
      right: 32px;
      left: 0;
    }
    &.slick-arrow-right {
      right: 0;
      left: 32px;
    }
  }
  &-inner {
    position: relative;
    margin: auto;
    max-width: 1250px;
    padding: 70px 0;
  }
  &__item {
    cursor: pointer;
    position: absolute;
    color: #fefefe;
    width: 230px;
    height: 60px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (min-width: $screen-xl-desktop) {
       width: 260px;
    }
    &-ico {
      margin: 0 10px;
    }
    .ico {
      width: 22px;
      height: 22px;
      border-radius: 22px;
      border: 2px solid #ffffff;
      transition: background .3s ease-in-out;
    }
    &-img {
      width: 60px;
    }
    &--last {
      .clock__item-img {
        order: 1;
      }
      .clock__item-title {
        order: -1;
      }
    }
    &.active {
      .ico {
        background: $white-lighten;
      }
      .clock__item-title span {
        // border-bottom: 2px solid $white-lighten;
        display: inline-block;
        &:after {
          width: 100%;
        }
      }
    }
    img {
      opacity: 0.5;
    }
    span {
      display: block;
      border-bottom: none;
      // &:hover {
      //   border-color: $white-lighten;
      // }

      &:after {
        display: block;
        content: "";
        height: 2px;
        width: 0;
        background-color: $white-lighten;
        transition: width .3s ease-in-out;
      }
      .active &:after,
      &:hover:after,
      &:focus:after {
          width: 100%;
      }
    }
    &-mb {
      text-align: center;
      color: #fefefe;
      font-size: 30px;
      padding: 70px 0;
      height: 400px;
      .clock__item-img {
        width: 90px;
        margin: auto;
        margin-bottom: 30px;
        img {
          width: 100%;
        }
      }
    }
    &--1 {
      top: 0;left: 0;right: 0;
    }
    &--2 {
      top: 10%;right: 5%;
      @media screen and (min-width: $screen-xl-desktop) {
       right: 10%;
      }
    }
    &--3 {
      top: 35%;right: 0;
    }
    &--4 {
      top: 60%;right: 0;
    }
    &--5 {
      top: 80%;right: 5%;
      @media screen and (min-width: $screen-xl-desktop) {
       right: 10%;
      }
    }
    &--6 {
      bottom: 0;left: 0;right: 0;
    }
    &--7 {
      top: 80%;left: 5%;
      @media screen and (min-width: $screen-xl-desktop) {
       left: 15%;
      }
    }
    &--8 {
      top: 60%;left: 0;
      @media screen and (min-width: $screen-xl-desktop) {
        width: 300px;
      }
    }
    &--9 {
      top: 35%;left: 0;
    }
    &--10 {
      top: 10%;left: 5%;
      @media screen and (min-width: $screen-xl-desktop) {
       left: 10%;
      }
    }
  }
}

.timeline {
  margin-top: -200px;
  path {
    @include transition();
  }
  path:hover {
    opacity: 1;
  }
}

.europe {
  // &-orange,
  // &-skyblue,
  // &-darkgreen,
  // &-red,
  // &-blue,
  &-green {
    &.hover {
      -webkit-filter: drop-shadow( 0 0 6px rgba(#4AAD49, 1) );
      filter: drop-shadow( 0 0 6px rgba(#4AAD49, 1) );
      opacity: 0.5;
      rect {
        -webkit-filter: drop-shadow( 0 0 6px rgba(#4AAD49, 1) );
        filter: drop-shadow( 0 0 6px rgba(#4AAD49, 1) );
      }
    }
  }
  &-blue {
    &.hover {
      -webkit-filter: drop-shadow( 0 0 6px rgba(#187EC0, 1) );
      filter: drop-shadow( 0 0 6px rgba(#187EC0, 1) );
      opacity: 0.5;
      rect {
        -webkit-filter: drop-shadow( 0 0 6px rgba(#187EC0, 1) );
        filter: drop-shadow( 0 0 6px rgba(#187EC0, 1) );
      }
    }
  }
  &-red {
    &.hover {
      -webkit-filter: drop-shadow( 0 0 6px rgba(#C7202A, 1) );
      filter: drop-shadow( 0 0 6px rgba(#C7202A, 1) );
      opacity: 0.5;
      rect {
        -webkit-filter: drop-shadow( 0 0 6px rgba(#C7202A, 1) );
        filter: drop-shadow( 0 0 6px rgba(#C7202A, 1) );
      }
    }
  }
  &-darkgreen {
    &.hover {
      -webkit-filter: drop-shadow( 0 0 6px rgba(#218943, 1) );
      filter: drop-shadow( 0 0 6px rgba(#218943, 1) );
      opacity: 0.5;
      rect {
        -webkit-filter: drop-shadow( 0 0 6px rgba(#218943, 1) );
        filter: drop-shadow( 0 0 6px rgba(#218943, 1) );
      }
    }
  }
  &-skyblue {
    &.hover {
      -webkit-filter: drop-shadow( 0 0 6px rgba(#08B7DB, 1) );
      filter: drop-shadow( 0 0 6px rgba(#08B7DB, 1) );
      opacity: 0.5;
      rect {
          -webkit-filter: drop-shadow( 0 0 6px rgba(#08B7DB, 1) );
          filter: drop-shadow( 0 0 6px rgba(#08B7DB, 1) );
      }
    }
  }
  &-orange {
    &.hover {
      -webkit-filter: drop-shadow( 0 0 6px rgba(#F29520, 1) );
      filter: drop-shadow( 0 0 6px rgba(#F29520, 1) );
      opacity: 0.5;
      path {
        -webkit-filter: drop-shadow( 0 0 6px rgba(#F29520, 1) );
        filter: drop-shadow( 0 0 6px rgba(#F29520, 1) );
      }
    }
  }
}
