footer.page-footer
  .page-footer__top.bg--primary
    .container
      nav.nav.nav--footer        
        +menu(navigation2)
  .page-footer__bot.bg--info
    .container
      .page-footer__item.is-row.between__xs
        .page-footer__lang.is-col
          ul.list--inline
            li: a.text--white(href='#') Ru
            li: a.text--default(href='#') Eng
          a.text--primary.hidden__sm.hidden__xs(href='mailto:info@geops.ru') Написать письмо
        .page-footer__adr.is-col
          p 111024, Москва, #[br] Андроновское шоссе, #[br] д.26, стр.17
        .page-footer__phone.is-col
          p +7 (495) 645-90-49
          p +7 (495) 937-13-12
        .page-footer__mail.is-col
          a.text--primary(href='mailto:info@geops.ru') info@geops.ru
        .page-footer__mail.is-col.hidden__md.hidden__lg.hidden__xl
          a.text--primary(href='mailto:info@geops.ru') Написать письмо
      .page-footer__item.is-row.center__xs.middle__xs.between__md
        p.text--default © 2007— 2015 «Геопроектизыскания»
        .page-footer__copyrights
          p.text--default 
            span Сделано в 
            a(href='#'): img(src='images/logo-cloud.png', alt='')
