header
  .container
    .page-header
      .page-header__mobile
        .main-nav__close.main-nav__close--js
          i.is-icons.is-icons--close
        .page-header__label
          a.btn.btn__sm.btn--danger(href="#") Более 10 лет на рынке
        div: +menu(navigation)
        .page-header__lang
          ul.list--inline
            li: a(href='#') Ru
            li: a.text--default(href='#') Eng
          a.text--primary(href='mailto:info@geops.ru') info@geops.ru
        .page-header__search
          input.control(type='search', placeholder='Поиск')
        .page-header__phone
            p +7 (495) 645-90-49
            p +7 (495) 937-13-12
      .page-header__top
        .page-header__lang.hidden__sm.hidden__xs
          ul.list--inline
            li: a(href='#') Ru
            li: a.text--default(href='#') Eng
          a.text--primary(href='mailto:info@geops.ru') info@geops.ru
        .page-header__search.hidden__md.hidden__sm.hidden__xs
          input.control(type='search', placeholder='Поиск')
        .page-header__logo.text--center
            a(href="/"): img(src="images/logo.png", alt="Company ltd.")
            .hidden__sm.hidden__xs
              p.text--default: i Качество, проверенное временем.
        .page-header__label.text--center.hidden__md.hidden__sm.hidden__xs
            a.btn.btn__sm.btn--danger(href="#") Более 10 лет на рынке
        .page-header__phone.text--right.hidden__sm.hidden__xs
            p +7 (495) 645-90-49
            p +7 (495) 937-13-12
        .page-header__phone.text--right.hidden__md.hidden__lg.hidden__xl
            a(href="tel:84956459049"): img(src='images/phone.png')
        button.main-nav__toggle.main-nav__toggle--closed.main-nav__toggle--js
            span.icon-bar &nbsp;
            span.icon-bar &nbsp;
            span.icon-bar &nbsp;
            span.icon-bar &nbsp;
      .page-header__bot
        include ../components/_navbar
