$icons: (
	  sprite: (width: 294px, height: 48px, svgPath: '../images/svg/sprite.svg'),
 	arr-next: (width: 7px, height: 11px, backgroundX: 0px, backgroundY: 0px),
 	arr-prev: (width: 7px, height: 11px, backgroundX: -27px, backgroundY: 0px),
 	close: (width: 28px, height: 28px, backgroundX: -54px, backgroundY: 0px),
 	facebook: (width: 10px, height: 22px, backgroundX: -102px, backgroundY: 0px),
 	list: (width: 16px, height: 22px, backgroundX: -132px, backgroundY: 0px),
 	percent_icon: (width: 20px, height: 20px, backgroundX: -168px, backgroundY: 0px),
 	search: (width: 14px, height: 13px, backgroundX: -208px, backgroundY: 0px),
 	twitter: (width: 32px, height: 22px, backgroundX: -242px, backgroundY: 0px),
);
