main.page-main
  section
    .container
      include ../components/_breadcrumbs
      h1= title
      .text-item
        h2.text--primary Компания «Геопроектизыскания» — лидер изыскательской отрасли России. 
        h4 ООО «Геопроектизыскания» предоставляет полный комплекс работ и услуг для проектирования, строительства и эксплуатации объектов капитального строительства, включая особо опасные и технически сложные. 
        p Наша компания - динамично развивающаяся, высокотехнологичная организация с большим опытом работы в области проектно-изыскательских и землеустроительных (кадастровых) работ для строительства, реконструкции, капитального ремонта и эксплуатации объектов градостроительной деятельности, промышленных предприятий, зданий и сооружений, инженерных и транспортных коммуникаций. #[br] Компания имеет #[a(href='#') филиалы и обособленные подразделения], которые ведут активную производственную деятельность на всей территории Российской Федерации, и в странах ближнего зарубежья.
        h3 СПЕЦИАЛИЗАЦИЯ. #[br] ВИДЫ РАБОТ И УСЛУГ КОМПАНИИ:
        ul.list--bullet
          li: a(href='#') Комплексное проектирование объектов капитального строительства различного назначения;
          li: a(href='#') Все виды инженерных изысканий;
          li: a(href='#') Работы по лазерному сканированию;
          li: a(href='#') Подготовка документации по планировке территории;
          li: a(href='#') Комплекс лабораторных исследований;
          li: a(href='#') Археологические исследования;
          li: a(href='#') Маркшейдерские работы;
          li: a(href='#') Комплексные экологические исследования;
          li: a(href='#') Кадастровые и землеустроительные работы;
          li
             a(href='#') Экспертная деятельность: 
             | негосударственная экспертиза проектной документации и результатов инженерных изысканий, строительная экспертиза, землеустроительная экспертиза, оценочная деятельность
        h4 НАШИМИ ЗАКАЗЧИКАМИ ЯВЛЯЮТСЯ как крупные компании: ОАО «Газпром», ОАО «АК «Транснефть», ОАО «ФСК ЕЭС», ОАО «РЖД», ОАО «АЛРОСА» и их дочерние структуры, так и многие другие предприятия и организации, с которыми мы активно сотрудничаем и помогаем в достижении поставленных целей. 
        p Компания «Геопроектизыскания» активно работает с передовыми международными и отечественными разработками в области системы менеджмента качества управления, которые направлены на: усовершенствование системы управления; оптимизацию документооборота компании; повышения качества предоставляемых услуг; повышение ответственности и дисциплинированности персонала; повышение имиджа и инвестиционной привлекательности компании в глазах партнеров; повышения имиджа организации в регионах и отраслях.
        h3 В нашей компании внедрены и сертифицированы системы:
        ul.list--bullet
         li
            a(href='#') Менеджмента качества 
            | (СМК) предоставляемых работ (услуг) на соответствие требованиям международных стандартов ISO 9001:2008, орган по сертификации - SGS United Kingdom Ltd Systems &Services Sertification;
         li
            a(href='#') Экологического менеджмента 
            | применительно к выполнению инженерно-геодезических, инженерно-геологических, инженерно-гидрологических, топографо-геодезических и картографических работ, инженерно-экологических и археологических изысканий, землеустроительных и кадастровых работ, лесоустроительных и проектных работ, и соответствует требованиям ГОСТ ИСО 14001-2007 (ISO 14001:2004);
         li
            a(href='#') Управления охраной труда,
            | соответствующей требованиям ГОСТ 12.03.230-2007, ОНSAS 18001:2007
        h2.text--primary НАШИ ПРЕИМУЩЕСТВА:
        ul.list--bullet
          li #[b Мощная материально-техническая база:] современные приборы и оборудование, включая буровые установки различного типа, приборы воздушного и наземного лазерного сканирования, новейшее лицензированное программное обеспечение, аккредитованные испытательные лаборатории гарантируют качество принимаемых проектных решений.
          li #[b Гарантийный срок на все выполняемые нами работы.] Все выполняемые нами работы и услуги застрахованы!
          li #[b Консалтинг и экспертная оценка всегда включены в стоимость работ.]
          li #[b Постоплатная система работы] по крупным проектам с системными Заказчиками.
