main.page-main
  section
    .container
      include ../components/_breadcrumbs
      h1= title
      .text-item
        h2.text--primary Наша Компания является постоянным участником международных и отечественных отраслевых выставок и конференций: 
        .activities
          - for (var z = 1; z < 5; z++)
            .activities__item
              .activities__item-header.is-row.middle__xs
                .activities__item-date.is-col.is-col__xl-1.is-col__md-2.is-col__xs-12
                  span 12 
                  |  Декабря
                .activities__item-name.is-col.is-col__xl-8.is-col__md-9.is-col__xs-12 Конференция «Развитие малого и среднего предпринимательства в проектно-изыскательской отрасли»
              .activities__item-body
                .slider-ph.relative.zoom-gallery
                  - for (var y = 1; y < 3; y++)
                    - for (var x = 1; x < 5; x++)
                      .gallery__item
                        a(href='images/gallery-'+x+'.jpg').gallery__item-img
                          img(src='images/gallery-'+x+'.jpg', alt='')
        include ../components/_paginator
