main.page-main
  section
    .container
      include ../components/_breadcrumbs
      h1= title
      .text-item
        .activities
          - for (var z = 1; z < 5; z++)
            .activities__item
              .activities__item-header.is-row.middle__xs
                .activities__item-date.is-col.is-col__xl-1.is-col__md-2.is-col__xs-12
                  span 12 
                  |  Декабря
                .activities__item-desc.is-col.is-col__xl-8.is-col__md-10.is-col__xs-12
                  a(href='#') "Применение технологии лазерного сканирования в различных отраслях и на различных этапах жизненного цикла объектов". Н.Н. Алексеенко, ООО «Геопроектизыскания». Вестник МГСУ 02.2016
                  .text--default Источник: #[a.text--default(href='#') Скачать]
        include ../components/_paginator
