main.page-main
  section
    .container
      include ../components/_breadcrumbs
      h1= title
      .text-item        
        .is-row
          .is-col.is-col__lg-1.is-col__md-2.is-col__sm-3.is-col__xs-12.text--center
            img(src='images/mater_technic_base.png', alt='')
          .is-col.is-col__md-10.is-col__sm-9.is-col__xs-12
            h4.margtop0 Модернизация технической базы является весьма затратным мероприятием, обусловленным видами деятельности, особыми технологическими требованиями к работам и оборудованию, а так же комплексным характером производственного процесса.
  section.dark-slider
    .container
      h2.margbot40 В нашем арсенале: 
      .slider-ph.relative.text__md        
        - for (var x = 1; x < 9; x++)
          .item
            .is-row.margbot40
              .is-col.is-col__md-3
                img.bra50(src='images/galler.jpg', alt='')
              .is-col.is-col__md-8 Аэросъемочная сканирующая система RIEGL CP-780               
            .is-row.margbot40
              .is-col.is-col__md-3                
                img.bra50(src='images/galler.jpg', alt='')
              .is-col.is-col__md-8 Электронные тахеометры Sokkia CX-105L       
  section
    .container
      .text-item
        .is-col__md-6.is-col__xs-12
          h3.text--primary Оборудование для изучения свойств и мониторинга поведения массива грунтов в полевых условиях:
        .is-row
          .is-col.is-col__md-6.is-col__xs-12
            ul.list--bullet
              li Прессиометры
              li Оборудование для статического зондирования
              li Георадары
          .is-col.is-col__md-6.is-col__xs-12
            ul.list--bullet
              li Штампы
              li Оборудование для геотехнического мониторинга опасных инженерно-геологических процессов
        .is-row
          .is-col.is-col__md-6.is-col__xs-12
            h3.text--primary Современное геофизичекое оборудование:
            ul.list--bullet
              li Оборудование для проведения электроразведочных работ и сейсморазведчных работ (сейсмостанции); 
          .is-col.is-col__md-6.is-col__xs-12
            h3.text--primary Новейшее высокоточное геодезическое оборудование марок:
            ul.list--bullet
              li JAVAD, HiPer, Topcon, Trimble, TSC2, TOPCON, Sokkia, Leica" power Arctic и др.;
        .is-col__lg-9
          h3.text--primary Парк авто и специального транспорта, в том числе на гусенечном ходу, на шинах низкого давления и вездеходных шасси, предназначенных для работ в труднодоступных районах:
          ul.list--bullet
            li (снегоходы «Буран», снегоболотоходы "Викинг", "УАЗ СКБ-600", "УАЗ Трекол", специализированная водномоторная техника "Комбат", "Командор"); 
        .is-col__lg-9
          h3.text--primary Транспортные средства для перевозки персонала и грузов в районах проведения работ:
        .is-row
          .is-col.is-col__md-4.is-col__xs-12
            ul.list--bullet
              li Автобусы  
          .is-col.is-col__md-4.is-col__xs-12
            ul.list--bullet
              li Вахтовки  
          .is-col.is-col__md-4.is-col__xs-12
            ul.list--bullet
              li Грузовые автомобили;  
        .is-col__lg-9
          h3.text--primary Широкий спектр лабораторного оборудования для серии опытных и испытательных лабораторий компании:
        .is-row
          .is-col.is-col__md-4.is-col__xs-12
            .topline Новейшее химико-аналитическое оборудование: ИК-Фурье спектрометр для определения нефтепродуктов (Nicolet is5); эмиссионный спектрометр с индуктивно-связанной плазмой (iCAP 6000); ВЭЖХ - жидкостнои хроматограф; 
          .is-col.is-col__md-4.is-col__xs-12
            .topline Высокоточное оборудование грунтовой лаборатории для изучения прочностных и деформационных свойств грунтов методами компрессионного сжатия, однополосного среза, трехосного сжатия; 
          .is-col.is-col__md-4.is-col__xs-12
            .topline Мобильные лаборатории по измерению радиационных и физических воздействий оборудованы: шумомерами, (инфразвук- ультразвук), виброметр, дозиметрами, измерителями электромагнитного поля, оборудование для определения содержания радона, газоанализаторы. 
          .is-col.is-col__md-4.is-col__xs-12
            .topline Оборудование строительной испытательной лаборатории; 
          .is-col.is-col__md-4.is-col__xs-12
            .topline Лабораторное оборудование геокриологической лаборатории;
      .text-item
        .is-row
          .is-col.is-col__lg-1.is-col__md-2.is-col__sm-3.is-col__xs-12.text--center
            img(src='images/mater_technic_base.png', alt='')            
          .is-col.is-col__md-10.is-col__sm-9.is-col__xs-12
            h4.margtop0 В своей работе мы используем последние версии специализированного лицензионного программного обеспечения. 
        
            
            
