main.page-main
  section
    .container
      include ../components/_breadcrumbs
      h1= title
  section
    | put code here (it's for map)
  section
    .container
      .text-item
        .is-row
          .is-col.is-col__md-6.is-col__xs-12
            .city_addres
              | put the same code here (it's for collapse and map's coordinates)
              .item.item_addr.item_addr_opened
                .item_in
                  a.name(href="", data-office="11", data-num="2", data-coords="45.023194,39.052473", data-route="") Краснодар
                  .info
                    p 350066, Краснодарский край, г. Краснодар, ул. Сормовская,  д. 3
                    p Тел.: +7 (861) 210-19-58
                    a.maplink.text--primary(href='#' onclick="mapw(11); return false;") Распечатать схему проезда
              - for (var x = 1; x < 6; x++)
                .item.item_addr
                  .item_in
                    a.name(href="", data-office="8", data-num="3", data-coords="62.5510617, 113.9573593", data-route="") Мирный
                    .info
                      p 350066, Краснодарский край, г. Краснодар, ул. Сормовская,  д. 3
                      p Тел.: +7 (861) 210-19-58
                      a.maplink.text--primary(href='#' onclick="mapw(11); return false;") Распечатать схему проезда
          .is-col.is-col__md-6.is-col__xs-12
            h2.margtop0: a.text--primary(href='#') Москва
            p ООО "Геопроектизыскания" #[br] 111024, г. Москва., Андроновское ш., д.26, к.17, #[br] БЦ "Персона Грата" 
            p Тел.: 7 (495) 937-13-12 #[br] #[a.text--primary(href='mailto:info@geops.ru') info@geops.ru]
            p: img(src='images/ofice2_GPS.jpg', alt='', style='width: 100%;')
            p: img(src='images/contacts_moscow.jpg', alt='')
            p: img(src='images/map_2.jpg', alt='')
            a.text--primary.maplink(href="#", onclick="mapw(109); return false;") Распечатать схему проезда
            h3 Как добраться:
            p: i Личным транспортом:
            p Офис компании находится на территории БЦ "Персона Грата" на пересечении Андроновского ш., и 5-й Кабельной улицы. #[br] Внимание! Въезд на ш. Фрезер со стороны Рязанского ш. через ж/д переезд закрыт! Подъезд к офису -  со стороны ш. Энтузиастов. 
            p: i Общественным транспортом:
            p М. Авиамоторная. Далее на автобусах и маршрутных такси №№ 133, 759, 59 до остановки "Андроновское шоссе". #[br] Перейти дорогу, через проходную пройти на территорию БЦ "Персона Грата". 
            p Вход на территорию бизнес-центра - строго по пропускам. #[br] Для заказа пропуска нам потребуются Ваши Ф.И.О. и дата рождения, номер и марка автомобиля (при необходимости). #[br] При себе необходимо иметь документ, удостоверяющий личность. 
        .notice.is-row.middle__xs
          .is-col.is-col__md-8.is-col__xs-12
            span.text__lg.text--primary Вы можете оформить экспресс-заявку по всем интересующим Вас видам работ. 
          .is-col.is-col__md-4.is-col__xs-12.text--right
            button.btn.btn__lg.btn--outlined.qbtn(type='button', onclick="feedbackw(); return false;") Задать вопрос
