main.page-main
  section
    .container
      include ../components/_breadcrumbs
      .is-row.is-row--null.between__xs.middle__xs
        h1= title
        a.btn.btn__sm.btn--primary(href='#') Все объекты
      .text-item
        .activities
          .is-row.is-row--null
            .is-col.is-col__md-4.is-col__sm-6.is-col__xs-12.is-row.middle__xs.margbot40
              .is-col.is-col__xl-2.is-col__xs-3
                img(src='images/icons/geog-1.png', alt='')
              .is-col.is-col__xl-10.is-col__xs-9
                a(href='#') Объекты нефте-газового комплекса
            .is-col.is-col__md-4.is-col__sm-6.is-col__xs-12.is-row.middle__xs.margbot40
              .is-col.is-col__xl-2.is-col__xs-3
                img(src='images/icons/geog-2.png', alt='')
              .is-col.is-col__xl-10.is-col__xs-9
                a(href='#') Объекты транспортного комплекса
            .is-col.is-col__md-4.is-col__sm-6.is-col__xs-12.is-row.middle__xs.margbot40
              .is-col.is-col__xl-2.is-col__xs-3
                img(src='images/icons/geog-3.png', alt='')
              .is-col.is-col__xl-10.is-col__xs-9
                a(href='#') Объекты энергетического комплекса
            .is-col.is-col__md-4.is-col__sm-6.is-col__xs-12.is-row.middle__xs.margbot40
              .is-col.is-col__xl-2.is-col__xs-3
                img(src='images/icons/geog-4.png', alt='')
              .is-col.is-col__xl-10.is-col__xs-9
                a(href='#') Объекты связи
            .is-col.is-col__md-4.is-col__sm-6.is-col__xs-12.is-row.middle__xs.margbot40
              .is-col.is-col__xl-2.is-col__xs-3
                img(src='images/icons/geog-5.png', alt='')
              .is-col.is-col__xl-10.is-col__xs-9
                a(href='#') Объекты промышленного и гражданского строительства
            .is-col.is-col__md-4.is-col__sm-6.is-col__xs-12.is-row.middle__xs.margbot40
              .is-col.is-col__xl-2.is-col__xs-3
                img(src='images/icons/geog-6.png', alt='')
              .is-col.is-col__xl-10.is-col__xs-9
                a(href='#') Объекты добывающего комплекса
  section BIG map will be here. Insert the code
  section
    .container
      .text-item
        .is-row.between__xs.scope_of_work
          .is-col.is-col__xl-3.is-col__lg-4.is-col__md-6.is-col__xs-12
            b 2011-2016 гг.:
            p Пробурено >150 000 погонных метров скважин 
          .is-col.is-col__xl-3.is-col__lg-4.is-col__md-6.is-col__xs-12
            b 2011-2016 гг.:
            p >27 000Га Топографических работ
          .is-col.is-col__xl-3.is-col__lg-4.is-col__md-6.is-col__xs-12
            b 2011-2016 гг.:
            p Завершено>1000 объектов 
        .is-row.between__xs        
          .is-col.is-col__xl-3.is-col__lg-4.is-col__xs-12
          .is-col.is-col__xl-3.is-col__lg-4.is-col__md-6.is-col__xs-12
            h2.text--primary МЫ ГАРАНТИРУЕМ:
            p: i — высокий технический уровень и качество выполняемых работ и услуг;
            p: i — индивидуальный и комплексный подход к решению поставленных задач;
            p: i — оптимальные сроки и стоимость.
            p Поиск потенциального исполнителя для выполнения работ (предоставления услуг) – это всегда проблема правильного выбора из огромного количества разнообразных предложений. #[br] Наша компания уделяет особое внимание преддоговорной работе с клиентами, мониторингу и оценке существующего рынка работ и услуг, анализу выполненных ранее работ, контролю над качеством выпускаемой продукции. #[br] Успешная работа компании основана на высокой квалификации сотрудников, эффективной системе управления производством, применении современных технологий, оснащенной базе технического оборудования и собственных научных разработок. 
            p: b Все виды работ выполняются в соответствии с требованиями технической документации и проходят экспертизы в контрольно-надзорных органах. 
          .is-col.is-col__xl-3.is-col__lg-4.is-col__md-6.is-col__xs-12
            h2.text--primary ПРЕИМУЩЕСТВА
            p: b СОВРЕМЕННОЕ ОБОРУДОВАНИЕ
            p Мы располагаем собственной, хорошо оснащенной материально-технической базой. Современные приборы и оборудование, включая буровые установки различного типа, приборы воздушного и наземного лазерного сканирования, новейшее лицензированное программное обеспечение, аккредитованные испытательные лаборатории позволяют получать качественные результаты исследований и гарантируют качество принимаемых проектных решений.
            p: b КОНСАЛТИНГ
            p консалтинг и экспертная оценка по широкому спектру вопросов всегда включены в стоимость работ.
            h5.text--primary МЫ ПРЕДЛАГАЕМ НАШИМ КЛИЕНТАМ: 
            p: i Гибкую ценовую политику, разумные скидки на значительный объем работ;
            p: i Ответственный подход к работе с момента обращения и до выпуска готовой продукции;
            p: i Гарантийный срок на все выполняемые нами работы и услуги. Все работы застрахованы;
            p: i Постоплатную систему работы по крупным проектам с системными Заказчиками.
