main.page-main
  section
    .container
      include ../components/_breadcrumbs
      h1= title
      .text-item      
        ul.list--inline.alphabet
          li: a.active(href='#') А
          li: a(href='#') Б
          li: a(href='#') В
          li: a(href='#') Г
          li: a(href='#') Д
          li: a(href='#') З
          li: a(href='#') И
          li: a(href='#') К
          li: a(href='#') Л
          li: a(href='#') М
          li: a(href='#') Н
          li: a(href='#') О
          li: a(href='#') П
          li: a(href='#') Р
          li: a(href='#') С
          li: a(href='#') Т
          li: a(href='#') У
          li: a(href='#') Ф
          li: a(href='#') Х
          li: a(href='#') Ц
          li: a(href='#') Ч
          li: a(href='#') Ш
          li: a(href='#') Э
          li: a(href='#') Ю
        ul.collapse 
          - for (var x = 1; x < 6; x++)
            li.collapse__item--js
              .collapse-link--sm.collapse-link--js
                p.text__lg Абрис
              .collapse-inner
                p Схематический чертеж участка местности, с обозначением данных полевых измерений, необходимых для построения точного плана или профиля. 
          - for (var x = 1; x < 6; x++)
            li.collapse__item--js
              .collapse-link--sm.collapse-link--js
                p.text__lg Абсолютная высота точки земной поверхности (альтитуда)
              .collapse-inner
                p Схематический чертеж участка местности, с обозначением данных полевых измерений, необходимых для построения точного плана или профиля. 
