main.page-main
  section
    .container
      include ../components/_breadcrumbs
      h1= title
      .text-item
        .is-row
          .is-col.is-col__lg-2.is-col__md-3.is-col__xs-12
            img(src="images/ava.png", alt='')
          .is-col.is-col__lg-10.is-col__md-9.is-col__xs-12
            h2.text--primary.margtop0 Дорогие друзья, коллеги и партнеры! 
            p За 10 лет своего существования, компания ООО «Геопроектизыскания» прошла путь от небольшой изыскательской организации до лидера проектно-изыскательской отрасли Российской Федерации! 
            p Результаты нашей деятельности – безупречная деловая репутация и, как следствие, участие в важнейших и определяющих проектах на территории всей страны. Всем достигнутым мы обязаны, прежде всего, своим надежным партнерам, чье доверие и дружеское расположение всегда являлось для нас наивысшей ценностью. 
        h4.text--primary Мы — это сплоченная команда единомышленников. В компании работают целеустремленные, энергичные и инициативные люди, с характером, стилем работы и уникальными талантами, которые являются залогом успешного решения любой поставленной перед нами задачи. 
        .is-row
          .is-col.is-col__lg-2.is-col__md-3.is-col__xs-12
          .is-col.is-col__lg-10.is-col__md-9.is-col__xs-12
            p Отвечая вызовам времени, нельзя стоять на месте, поэтому современное управление ресурсами, реализация программы развития предприятия, техническое оснащение современной техникой и оборудованием, внедрение передовых процессов и технологий, расширение географии присутствия и предложение комплексных решений – вот только часть большой работы по повышению нашей конкурентоспособности. 
            h3
              small: i Искренне Ваш, Генеральный директор ООО «Геопроектизыскания» #[br]
              | Алексеенко Николай Николаевич 
  section.cooperation_guarantees
    .container
      .text--center
        h3 Компания ООО «Геопроектизыскания» открыта для сотрудничества и гарантирует своим партнерам: 
      .cooperation_guarantees-inner.is-row.is-row--null
        .is-col.is-col__md-4.is-col__xs-12.is-row.middle__lg.margbot40
          .is-col.is-col__lg-3.is-col__md-12.is-col__xs-3.text--center
            img(src='images/icons/cooperation_guarantees.png', alt='')
          .is-col.is-col__lg-9.is-col__md-12.is-col__xs-9
            p.text__lg Оптимальные сроки и стоимость 
        .is-col.is-col__md-4.is-col__xs-12.is-row.middle__lg.margbot40
          .is-col.is-col__lg-3.is-col__md-12.is-col__xs-3.text--center
            img(src='images/icons/cooperation_guarantees2.png', alt='')
          .is-col.is-col__lg-9.is-col__md-12.is-col__xs-9
            p.text__lg Высокий технический уровень и качество выполняемых работ и услуг
        .is-col.is-col__md-4.is-col__xs-12.is-row.middle__lg.margbot40
          .is-col.is-col__lg-3.is-col__md-12.is-col__xs-3.text--center
            img(src='images/icons/cooperation_guarantees3.png', alt='')
          .is-col.is-col__lg-9.is-col__md-12.is-col__xs-9
            p.text__lg Индивидуальный и комплексный подход к решению поставленных задач
