main.page-main
  section.clock
    .container.hidden__sm.hidden__xs.hidden__md
      .clock-inner
        +clock(clockitems) 
        .text--center
          canvas#myCanvas(style="background:url('images/back-clock.png') no-repeat center center")
    .visible__xs.visible__sm.visible__md
      +clockmob(clockitems)
  section.types
    .container
      .types-inner.is-row.is-row--null
        .types__item.is-col.is-col__lg-3.is-col__sm-6.is-col__xs-12
          .types__item-ico
            img(src='images/icons/ico-1.png')
          .types__item-desc
            h5 Система качества
            span.text__md.text__light В нашей компании внедрены #[br] и сертифицированы системы #[br] менеджмента качества
        .types__item.is-col.is-col__lg-3.is-col__sm-6.is-col__xs-12
          .types__item-ico
            img(src='images/icons/ico-2.png')
          .types__item-desc 
            h5 Отзывы и награды
            span.text__md.text__light Уровень реализации проектов #[br] и профессионализм специалистов #[br] - в отзывах наших клиентов
        .types__item.is-col.is-col__lg-3.is-col__sm-6.is-col__xs-12
          .types__item-ico
            img(src='images/icons/ico-3.png')
          .types__item-desc
            h5 Презентации компании
            span.text__md.text__light Информация #[br] «Геопроектизыскания» #[br] в видеороликах и презентациях
        .types__item.is-col.is-col__lg-3.is-col__sm-6.is-col__xs-12
          .types__item-ico
            img(src='images/icons/ico-4.png')
          .types__item-desc
            h5 Свидетельства, лицензии и допуски
            span.text__md.text__light Разрешения на строительство, #[br] а также получение разрешения #[br] на ввод объекта в эксплуатацию
  section.news
    .container
      .is-row
        .is-col.is-col__md-6.is-col__xs-12
          h2.title: span Новости отрасли
          .slider.relative
            - for (var x = 1; x < 6; x++)
              .news__item
                .news__item-img
                  img(src='images/news-1.jpg', alt='')
                .news__item-title
                  a(href='#') Разъяснение Росреестра Московской области о лицензировании геодезической и картографической деятельности
                .news__item-date
                  p.text--default.text__md.is-row.is-row--null.middle__xs
                    img(src='images/icons/ico-clock.png', alt='')
                    span 28 декабря, 2016
              .news__item
                .news__item-img
                  img(src='images/news-2.jpg', alt='')
                .news__item-title
                  a(href='#') Владимир Путин провёл заседание Госсовета по вопросу «Об экологическом развитии Российской Федерации в интересах будущих поколений».
                .news__item-date
                  p.text--default.text__md.is-row.is-row--null.middle__xs
                    img(src='images/icons/ico-clock.png', alt='')
                    span 11 января, 2017
          .show-all--js.visible__xs.visible__sm.margtop20.margbot40
            button.btn.btn--outlined.btn__lg.btn--full Показать ещё
        .is-col.is-col__md-6.is-col__xs-12
          h2.title: span Новости компании
          .slider.relative
            - for (var x = 1; x < 6; x++)
              .news__item
                .news__item-img
                  img(src='images/news-3.jpg', alt='')
                .news__item-title
                  a(href='#') Генеральный директор ООО «Геопроектизыскания» Николай Алексеенко принял участие в совещании экспертной рабочей группы
                .news__item-date
                  p.text--default.text__md.is-row.is-row--null.middle__xs
                    img(src='images/icons/ico-clock.png', alt='')
                    span 17 ноября, 2016
              .news__item
                .news__item-img
                  img(src='images/news-4.jpg', alt='')
                .news__item-title
                  a(href='#') Компания ООО «Геопроектизыскания приняла» участие в международной конференции "Геодезия. Маркшейдерия. Аэросъемка. На рубеже веков"
                .news__item-date
                  p.text--default.text__md.is-row.is-row--null.middle__xs
                    img(src='images/icons/ico-clock.png', alt='')
                    span 15 декабря, 2016
          .show-all--js.visible__xs.visible__sm.margtop20.margbot40
            button.btn.btn--outlined.btn__lg.btn--full Показать ещё
  section.gallery
    .container
      h2.title: span Фотогалерея
      .slider-ph.relative.zoom-gallery
        - for (var y = 1; y < 3; y++)
          - for (var x = 1; x < 5; x++)
            .gallery__item
              a(href='images/gallery-'+x+'.jpg').gallery__item-img
                img(src='images/gallery-'+x+'.jpg', alt='')
  section.chart
    .container
      .is-row
        .is-col.is-col__lg-4.is-col__xs-12
          h2.title: span География деятельности
          .chart-map.hidden__md.hidden__lg.hidden__xl.text--center
            div
              img(src='images/map-m1.png', alt='')
            div
              img(src='images/map-m3.png', alt='')
              img(src='images/map-m2.png', alt='')
          .chart-inner.hidden__sm.hidden__xs
            .chart__item.chart__item--skyblue.is-row
              .chart__item-img.is-col
                img(src='images/icons/ico-chart-1.png', alt='')
              .chart__item-desc.is-col Объекты нефте-газавого комплекса
            .chart__item.chart__item--orange.is-row
              .chart__item-img.is-col
                img(src='images/icons/ico-chart-2.png', alt='')
              .chart__item-desc.is-col Объекты связи и энергетического комплекса 
            .chart__item.chart__item--green.is-row
              .chart__item-img.is-col
                img(src='images/icons/ico-chart-3.png', alt='')
              .chart__item-desc.is-col Объекты транспортного комплекса
            .chart__item.chart__item--red.is-row
              .chart__item-img.is-col
                img(src='images/icons/ico-chart-4.png', alt='')
              .chart__item-desc.is-col Объекты добывающего комплекса
            .chart__item.chart__item--blue.is-row
              .chart__item-img.is-col
                img(src='images/icons/ico-chart-5.png', alt='')
              .chart__item-desc.is-col Объекты промышленного и гражданского строительства
            .chart__item.chart__item--darkgreen.is-row
              .chart__item-img.is-col
                img(src='images/icons/ico-chart-6.png', alt='')
              .chart__item-desc.is-col Аэропорты 
          p.margbot40 Сотрудничая с «Геопроектизыскания», вы получаете одного профессионального подрядчика для реализации широкого спектра работ и услуг на всех этапах жизненного цикла объекта.
          .text--center.text__md--left
            a.btn.btn--link(href='#')
              i.is-icons.is-icons--list
              span Скачать буклет 
        .is-col.is-col__lg-8.text--center.is-col__xs-12.hidden__sm.hidden__xs
          h2.text--default Россия
          //- include ../components/_map
          .is-row
            .is-col.is-col__md-6.is-col__xs-12
              h2.text--default Африка 
              img(src='images/map-2.svg', alt='')
            .is-col.is-col__md-6.is-col__xs-12
              h2.text--default Азия
              img(src='images/map-3.svg', alt='')
  section.experience.space__lg
    .container
      h2.title: span Наш опыт работ во времени
      .experience-inner.hidden__lg.hidden__xl
        .experience__item
          .experience__item-title.text__lg.text--info 2006 - 2011
          ul.list--unstyled.text__md
            li Трубопроводная система “Восточная Сибирь - Тихий Океан”
            li Система магистральных нефтепроводов БТС-II
            li Проект реконструкции жд вокзалов Москвы
            li МГ “Северный поток”
        .experience__item 
          .experience__item-title.text__lg.text--warning 2011 - 2015
          ul.list--unstyled.text__md
            li Олимпийские объекты “Сочи 2014”
            li Проект развития Московского метрополитена
            li Строительство Инновационного центра “Сколково”
            li Объекты ЧМ по футболу 2018
        .experience__item
          .experience__item-title.text__lg.text--success 2015 - 2016
          ul.list--unstyled.text__md
            li Программа развития авиации Сибири и Дальнего Востока
            li МГ “Сила Сибири” 
            li ВСМ-2 “Москва-Казань-Екатеринбург”
      .text--center.margtop80.hidden__sm.hidden__xs.hidden__md
        //- include ../components/_timeline  
  section.advantages
    .container
      .is-row
        .is-col.is-col__md-6.is-col__xs-12.middle__xs.advantages-inner
          h2.title: span Преимущества
          .is-row
            .is-col.is-col__xl-3.is-col__sm-6.is-col__xs-12
              .advantages__item
                p #[span.text--primary 1.] География
            .is-col.is-col__xl-4.is-col__lg-6.is-col__md-12.is-col__sm-6.is-col__xs-12
              .advantages__item
                p #[span.text--primary 2.] Качество и безопасность
            .is-col.is-col__xl-5.is-col__lg-6.is-col__md-12.is-col__sm-6.is-col__xs-12
              .advantages__item
                p #[span.text--primary 3.] Мощная материально-техническая база
            .is-col.is-col__xl-3.is-col__lg-6.is-col__md-12.is-col__sm-6.is-col__xs-12
              .advantages__item
                p #[span.text--primary 4.] Гарантия
            .is-col.is-col__xl-4.is-col__lg-6.is-col__md-12.is-col__sm-6.is-col__xs-12
              .advantages__item
                p #[span.text--primary 5.] Консалтинг и экспертная оценка
            .is-col.is-col__xl-5.is-col__lg-6.is-col__md-12.is-col__sm-6.is-col__xs-12
              .advantages__item
                p #[span.text--primary 6.] При необходимости, возможна работа без предоплаты
        .is-col.is-col__md-6.is-col__xs-12.bg--primary.advantages-inner.advantages-inner--pr
          h2.title: span Отраслевое #[br] законодательство
          .is-row
            .is-col.is-col__md-6.is-col__xs-12
              ul.list--unstyled
                li: a(href='#') Геодезическая и картографическая деятельность
                li: a(href='#') ГОСТы и СНиПы
                li: a(href='#') Инженерные изыскания
                li: a(href='#') Кодексы
                li: a(href='#') Контрактная система
                li: a(href='#') Нормы отвода земель
                li: a(href='#') Экология
            .is-col.is-col__md-6.is-col__xs-12
              ul.list--unstyled
                li: a(href='#') Землеустройство и кадастровая деятельность
                li: a(href='#') О внесении изменений
                li: a(href='#') Оценочная деятельность
                li: a(href='#') Приказы
                li: a(href='#') Проектирование
                li: a(href='#') Саморегулирование
                li: a(href='#') Строительство
  section.partners
    .container
      h2.title: span Нам доверяют 
      .partners-inner.is-row.is-row-null.between__xs.middle__xs
        - for (var x = 1; x < 8; x++)
          div: img(src='images/partners-'+x+'.png', alt='')
  section.reviews
    .container
      h2.title: span Отзывы
      .reviews-inner
        .slider-lg.relative
          - for (var x = 1; x < 3; x++)
            .reviews__item
              .reviews__item-img
                img(src='images/reviews-1.jpg', alt='')
              .reviews__item-desc Отзыв по работам по мобильному лазерному сканированию участка автодороги (117 км) и транспортных развязок Л-118 (КЖД Санкт-Петербург)
            .reviews__item
              .reviews__item-img
                img(src='images/reviews-2.jpg', alt='')
              .reviews__item-desc "Автодор Инжиниринг". Отзыв по объекту: «Ремонт автомобильной дороги М-4 «Дон» - от Москвы через Воронеж, Ростов-на Дону, Краснодар до Новороссийска, на участке км 20*650 - км 48+642, Московская область»
            .reviews__item
              .reviews__item-img
                img(src='images/reviews-3.jpg', alt='')
              .reviews__item-desc ООО "ТюменНИИгипрогаз" за работы по объекту "Дообустройство второго опытного участка Ачимовских отложений.
            .reviews__item
              .reviews__item-img
                img(src='images/reviews-4.jpg', alt='')
              .reviews__item-desc ПАО "Ростоваэроинвест", археологические раскопки по объекту "Строительство аэропорта "Южный"
        .show-all--js.visible__xs.visible__sm.margtop20
          button.btn.btn--outlined.btn__lg.btn--full Показать ещё
