main.page-main
  section
    .container
      include ../components/_breadcrumbs
      h1= title
      .text-item
        .is-row
          .is-col.is-col__xl-1.is-col__md-2.is-col__xs-12.hidden__sm.hidden__xs
            ul.list--unstyled
              li
                 a.text__lg(href='#') 2017
                 ul.list--unstyled
                   li: a(href='#') Август #[span.text--default 3]
                   li: a(href='#') Август #[span.text--default 3]
                   li: a(href='#') Август #[span.text--default 3]
                   li: a(href='#') Август #[span.text--default 3]
                   li: a(href='#') Август #[span.text--default 3]
                   li: a(href='#') Август #[span.text--default 3]
            ul.list--unstyled
              li
                 a.text__lg(href='#') 2016
                 ul.list--unstyled
                   li: a(href='#') Август #[span.text--default 3]
                   li: a(href='#') Август #[span.text--default 3]
                   li: a(href='#') Август #[span.text--default 3]
                   li: a(href='#') Август #[span.text--default 3]
                   li: a(href='#') Август #[span.text--default 3]
                   li: a(href='#') Август #[span.text--default 3]
            ul.list--unstyled
              li
                 a.text__lg(href='#') 2015
                 ul.list--unstyled
                   li: a(href='#') Август #[span.text--default 3]
                   li: a(href='#') Август #[span.text--default 3]
                   li: a(href='#') Август #[span.text--default 3]
                   li: a(href='#') Август #[span.text--default 3]
                   li: a(href='#') Август #[span.text--default 3]
                   li: a(href='#') Август #[span.text--default 3]
          .is-col.is-col__lg-9.is-col__md-10.is-col__xs-12
            .activities
              - for (var z = 1; z < 5; z++)
                .activities__item
                  .activities__item-header.is-row.middle__xs
                    .activities__item-date.is-col.is-col__xl-2.is-col__md-2.is-col__xs-12
                      span 12 
                      |  Декабря
                    .activities__item-news.is-col.is-col__xl-10.is-col__md-9.is-col__xs-12 
                      h4 Генеральный директор ООО "Геопроектизыскания" Николай Алексеенко принял участие в мероприятиях Всероссийского Дня строителя 2017
                      p Генеральный директор ООО "Геопроектизыскания" Николай Алексеенко принял участие в мероприятиях Всероссийского Дня строителя 2017 #[a(href='#') Читать]
              .activities__item
                .activities__item-header.is-row.middle__xs
                  .activities__item-date.is-col.is-col__xl-2.is-col__md-2.is-col__xs-12.text--danger
                    span 12 
                    |  Декабря
                  .activities__item-news.is-col.is-col__xl-10.is-col__md-9.is-col__xs-12 
                    h4 Генеральный директор ООО "Геопроектизыскания" Николай Алексеенко принял участие в мероприятиях Всероссийского Дня строителя 2017
                    p Генеральный директор ООО "Геопроектизыскания" Николай Алексеенко принял участие в мероприятиях Всероссийского Дня строителя 2017 #[a(href='#') Читать]
        include ../components/_paginator
