main.page-main
  section
    .container
      include ../components/_breadcrumbs
      h1= title
      .text-item
        .is-row
          - for (var x = 1; x < 7; x++)
            .is-col.is-col__lg-3.is-col__md-4.is-col__sm-6.is-col__xs-12
              .relative
                .gallery__item
                  a(href='images/gallery-1.jpg').gallery__item-img
                    img(src='images/gallery-1.jpg', alt='')
                  p: a(href='#') Презентация о компании "Геопроектизыскания" 
            
