main.page-main
  section
    .container
      include ../components/_breadcrumbs
      h1= title
      .text-item
        - for (var x = 1; x < 16; x++)
          .is-row.is-row--null.middle__xs.publications-inner
            .publications__item
              img(src='images/codes.png', alt='')
            .publications__item
              span 1.18 МБ pdf.
            .publications__item
              a(href='#') AD_11_2015_Uroki_lazerrnogo_skanirovaniya.pdf
