main.page-main
  section
    .container
      include ../components/_breadcrumbs
      .is-row.is-row--null.between__xs.middle__xs
        h1= title
        .text--primary Выберите интересующий вас тип объекта:
      .text-item        
        .tips-menu.is-row.is-row--null.middle__xs
          .is-col
            a.tips-menu__item(href='#')
              .tips-menu__item-img
                img(src='images/ref-1.png', alt='')
              .tips-menu__item-name Объекты ТЭК
          .is-col
            a.tips-menu__item(href='#')
              .tips-menu__item-img
                img(src='images/ref-2.png', alt='')
              .tips-menu__item-name ЖД и автомагистрали
          .is-col
            a.tips-menu__item(href='#')
              .tips-menu__item-img
                img(src='images/ref-3.png', alt='')
              .tips-menu__item-name Аэропортовые комплексы
          .is-col
            a.tips-menu__item(href='#')
              .tips-menu__item-img
                img(src='images/ref-4.png', alt='')
              .tips-menu__item-name Объекты добывающей отрасли
          .is-col
            a.tips-menu__item(href='#')
              .tips-menu__item-img
                img(src='images/ref-5.png', alt='')
              .tips-menu__item-name Объекты промышленного и гражданского строительства
          .is-col
            a.tips-menu__item(href='#')
              .tips-menu__item-img
                img(src='images/ref-6.png', alt='')
              .tips-menu__item-name Объекты промышленного и гражданского строительства
          .is-col
            a.tips-menu__item(href='#')
              .tips-menu__item-img
                img(src='images/ref-7.png', alt='')
              .tips-menu__item-name Объекты лесного хозяйства
          .is-col
            a.tips-menu__item(href='#')
              .tips-menu__item-img
                img(src='images/ref-8.png', alt='')
              .tips-menu__item-name Объекты связи
          .is-col
            a.tips-menu__item(href='#')
              .tips-menu__item-img
                img(src='images/ref-9.png', alt='')
              .tips-menu__item-name Порты. Объекты инфраструктуры
        .icons-menu.is-row.is-row--null.middle__xs.text__md.text--default
          .icons-menu__item.is-col.is-col__lg-3.is-col__md-4.is-col__sm-6.is-col__xs-12.is-row
            .is-col.is-col__xl-2.is-col__lg-3.is-col__xs-3.text--center
              img(src='images/icons/reference.png', alt='')
            .is-col.is-col__xs-8: i Комплексные инженерные изыскания 
          .icons-menu__item.is-col.is-col__lg-3.is-col__md-4.is-col__sm-6.is-col__xs-12.is-row
            .is-col.is-col__xl-2.is-col__lg-3.is-col__xs-3.text--center
              img(src='images/icons/reference2.png', alt='')
            .is-col.is-col__xs-8: i Инженерно- геодезические изыскания 
          .icons-menu__item.is-col.is-col__lg-3.is-col__md-4.is-col__sm-6.is-col__xs-12.is-row
            .is-col.is-col__xl-2.is-col__lg-3.is-col__xs-3.text--center
              img(src='images/icons/reference3.png', alt='')
            .is-col.is-col__xs-8: i Землеустроительные и кадастровые работы 
          .icons-menu__item.is-col.is-col__lg-3.is-col__md-4.is-col__sm-6.is-col__xs-12.is-row
            .is-col.is-col__xl-2.is-col__lg-3.is-col__xs-3.text--center
              img(src='images/icons/reference4.png', alt='')
            .is-col.is-col__xs-8: i Проектирование 
          .icons-menu__item.is-col.is-col__lg-3.is-col__md-4.is-col__sm-6.is-col__xs-12.is-row
            .is-col.is-col__xl-2.is-col__lg-3.is-col__xs-3.text--center
              img(src='images/icons/reference5.png', alt='')
            .is-col.is-col__xs-8: i Археологические работы 
          .icons-menu__item.is-col.is-col__lg-3.is-col__md-4.is-col__sm-6.is-col__xs-12.is-row
            .is-col.is-col__xl-2.is-col__lg-3.is-col__xs-3.text--center
              img(src='images/icons/reference6.png', alt='')
            .is-col.is-col__xs-8: i Экспертная деятельность 
          .icons-menu__item.is-col.is-col__lg-3.is-col__md-4.is-col__sm-6.is-col__xs-12.is-row
            .is-col.is-col__xl-2.is-col__lg-3.is-col__xs-3.text--center
              img(src='images/icons/reference7.png', alt='')
            .is-col.is-col__xs-8: i Инженерно- геологические изыскания 
          .icons-menu__item.is-col.is-col__lg-3.is-col__md-4.is-col__sm-6.is-col__xs-12.is-row
            .is-col.is-col__xl-2.is-col__lg-3.is-col__xs-3.text--center
              img(src='images/icons/reference8.png', alt='')
            .is-col.is-col__xs-8: i Лазерное сканирование и аэрофотосъемка 
          .icons-menu__item.is-col.is-col__lg-3.is-col__md-4.is-col__sm-6.is-col__xs-12.is-row
            .is-col.is-col__xl-2.is-col__lg-3.is-col__xs-3.text--center
              img(src='images/icons/reference9.png', alt='')
            .is-col.is-col__xs-8: i Инженерно- экологические изыскания
          .icons-menu__item.is-col.is-col__lg-3.is-col__md-4.is-col__sm-6.is-col__xs-12.is-row
            .is-col.is-col__xl-2.is-col__lg-3.is-col__xs-3.text--center
              img(src='images/icons/reference10.png', alt='')
            .is-col.is-col__xs-8: i Инженерно- гидрометеорологические изыскания
        h2 Все объекты
        .icons--list          
          - for (var x = 1; x < 10; x++)
            .icons--list__item.is-row.text__md.middle__xs
              .is-col.is-col__xl-2.is-col__lg-3.is-col__xs-4.text--center
                img(src='images/icons/reference.png', alt='')
                img(src='images/icons/reference2.png', alt='')
                img(src='images/icons/reference3.png', alt='')
                img(src='images/icons/reference4.png', alt='')
              .is-col.is-col__xl-10.is-col__lg-9.is-col__xs-8
                span Магистральный газопровод «Сила Сибири". КС-4 "Нимнырская" 
        include ../components/_paginator
