main.page-main
  section
    .container
      include ../components/_breadcrumbs
      h1= title
      .text-item      
        h2.text--primary Наша компания принимает активное участие в реализации масштабных объектов Федерального значения.  
        h4 В ЧИСЛЕ НАШИХ ПРОЕКТОВ:
        ul.list--bullet
          li Работы для возведения тысяч километров нефте- и газопроводов, а также инфраструктурных объектов топливно-энергетического комплекса;
          li Работы для строительства и модернизации железнодорожных объектов для Московского, Юго-Восточного, Северо-Кавказского направлений, а также многих других железнодорожных магистралей на всей территории Российской Федерации;
          li Работы для строительства и реконструкции ЛЭП и объектов связи, включая комплексные изыскания для объектов проведения зимней Олимпиады в г. Сочи 2014;
          li Работы для развития транспортной инфраструктуры: строительства новых веток Московского метрополитена, реконструкции ж/д вокзалов, развития Московского транспортного кольца, а также реконструкции трасс федерального значения, в том числе работы для строительства аэропорта «Южный» в г. Ростов-на-Дону, модернизации инфраструктурных объектов аэропорта Домодедово в г. Москве;
          li Работы в рамках программ «Развития транспортной системы России» и подготовки к Чемпионату мира по футболу 2018г.
        img(src='images/rep.png', alt='')
