main.page-main
  section
    .container
      include ../components/_breadcrumbs
      h1= title
      .text-item
        - for (var x = 1; x < 10; x++)
          .margbot40
            p Президент России
            a(href='#') http://www.kremlin.ru/
