main.page-main
  section
    .container
      include ../components/_breadcrumbs
      h1= title
  section.normative_base.margtop40
    .container
      ul.list--inline
        li: a.active(href='#') Обзор законодательства
        li: a(href='#') Геодезическая и картографическая деятельность
        li: a(href='#') ГОСТы и СНиПы
        li: a(href='#') Землеустройство и кадастровая деятельность
        li: a(href='#') Инженерные изыскания
        li: a(href='#') Кодексы
        li: a(href='#') Контрактная система
        li: a(href='#') Нормы отвода земель
        li: a(href='#') О внесении изменений
        li: a(href='#') Оценочная деятельность
        li: a(href='#') Приказы
        li: a(href='#') Проектирование
        li: a(href='#') Саморегулирование
        li: a(href='#') Строительство
        li: a(href='#') Экология
  section
    .container 
      .text-item
        h2 Геодезическая и картографическая деятельность:
        - for (var x = 1; x < 16; x++)
          .is-row.is-row--null.middle__xs.publications-inner
            .publications__item
              img(src='images/codes2.png', alt='')
            .publications__item
              span 31.12.2015 #[br] 2.9 МБ
            .publications__item
              a(href='#') ФЗ о геодезии, картографии и пространственных данных и о внесении изменений в отдельные законодательные акты РФ
