main.page-main
  section
    .container
      include ../components/_breadcrumbs
      h1= title
  section.servces-menu
    .container
      .is-row.middle__xs
        .is-col.is-col__md-4.is-col__xs-12.servces-menu__item.servces-menu--grey
          ul.list--unstyled.text__lg.text--uppercase
            li: a.text--primary(href='#') Воздушное лазерное сканирование
            li: a.text--primary(href='#') Мобильное лазерное сканирование
            li: a.text--primary(href='#') Наземное лазерное сканирование
            li: a.text--primary(href='#') Создание ортофотопланов
            li: a.text--primary(href='#') Оборудование: сканирующие системы
        .is-col.is-col__md-8.is-col__xs-12.servces-menu__item
          h4.text--primary Разработка и внедрение новых технологий производства геодезических работ всегда велись с целью сокращения сроков и трудозатрат на полевые работы. Можно с уверенностью сказать, что любое направление лазерного сканирования полностью отвечает этому принципу. Популярность передовой технологии лазерного сканирования обусловлена целым рядом преимуществ по сравнению с классическими методами съемки 
          .inq_link
            a.btn.btn--primary(href='#', onclick="offerw(); return false;") отправить on-line заявку
  section
    .container
      .text-item
        .margbot40: a.text--primary.work_performed(href='#') Выполненные работы
        .is-row.between__xs
          .is-col.is-col__md-4.is-col__xs-12
            .relative.zoom-gallery
              .gallery__item
                a(href='images/gallery-1.jpg').gallery__item-img
                  img(src='images/gallery-1.jpg', alt='')
          .is-col.is-col__md-4.is-col__xs-12
            .relative.zoom-gallery
              .gallery__item
                a(href='images/gallery-2.jpg').gallery__item-img
                  img(src='images/gallery-2.jpg', alt='')
            .application_form
              .img
                img(src='images/codes2.png', alt='')
              .text
                a(href='#') Скачать форму заявки
                .size_format 275.5 КБ, doc.
          .is-col.is-col__md-2.is-col__xs-12
        .is-row.between__xs
          .is-col.is-col__md-4.is-col__xs-12
            h2.text--primary.text--uppercase ПРЕИМУЩЕСТВА ЛАЗЕРНОГО СКАНИРОВАНИЯ 
            ol.list--number
              li
                h4 НЕПРЕВЗОЙДЕННАЯ СКОРОСТЬ СЪЕМКИ
                p В зависимости от типа сканера и круга решаемых задач скорость выполнения съемки объекта быстрее в разы, а в некоторых случаях, например при воздушном лазерном сканировании труднодоступных районов, в десятки и сотни раз.
              li
                h4 ДЕТАЛЬНОСТЬ И ИНФОРМАТИВНОСТЬ ДАННЫХ
                p Данные, полученные посредством лазерного сканирования, позволяют полностью отобразить геометрические параметры объекта и детально описать не только форму, но и характер обследуемой поверхности, что невозможно получить при съемке стандартными методами.
              li
                h4 СТОИМОСТЬ РАБОТ
                p Учитывая высокую производительность и точность сканирующих систем, стоимость работ, выполняемых с использованием методов сканирования, ниже, чем при съемке традиционными методами. 
              li
                h4 БЕЗОПАСНОСТЬ
                p За счет применения безотражательного метода измерений лазерное сканирование не требует присутствия человека непосредственно на объекте съемки. Это позволяет получать точные данные даже в опасных или в самых труднодоступных районах.
              li
                h4 ЭКОНОМИЯ ТРУДОЗАТРАТ
                p Большой объем полевых работ по сканированию может быть выполнен даже бригадой из трех человек в короткие сроки.
              li
                h4 АВТОМАТИЗАЦИЯ ПРОЦЕССА ОБРАБОТКИ
                p Полностью цифровой формат данных позволяет максимально автоматизировать процесс их обработки и практически исключить влияние субъективных факторов на результат
            h4 ПО НАЗНАЧЕНИЮ И МЕТОДИКЕ РЕАЛИЗАЦИИ ПОСТАВЛЕННЫХ ЗАДАЧ ВЫДЕЛЯЮТ ТРИ ВИДА ЛАЗЕРНОГО СКАНИРОВАНИЯ
            p: img(src='images/3vida_ls.png', alt='')
            p: a.btn.btn--primary(href='#', onclick="feedbackw(); return false;") Заказать услугу
          .is-col.is-col__md-4.is-col__xs-12
            h2.text--primary.text--uppercase ЛАЗЕРНОЕ СКАНИРОВАНИЕ СФЕРЫ ПРИМЕНЕНИЯ
            ul.list--bullet
              li #[a(href='#') Железнодорожные магистрали и инфраструктурные объекты.] Определение фактических значений геометрических параметров железнодорожной инфраструктуры. Мониторинг состояния ж.д. путей. Проектирование и реконструкция дорожных объектов;
              li #[a(href='#') Автомагистрали и транспортная инфраструктура. ] Создание паспорта автодороги. Оценка зон видимости, колейности и ровности покрытия. Создание ведомостей дорожных объектов. Кадастровый учет;
              li #[a(href='#') ТЭК: Нефтегазовая отрасль.] Проектирование новых и расширение существующих трубопроводов. Мониторинг заростания просек. Кадастровый учет и определение охранных зон;
              li #[a(href='#') ТЭК: Электроэнергетика.] Обнаружение и анализ негабаритов ВЛ. Определение центров опор, их отклонения от вертикальной оси. Обнаружение повреждений элементов опор. Поиск опасных деревьев, угрожающих повреждением элементов ВЛ. Мониторинг роста растительности и прогноза распределения средств на расчистку просек ВЛ. Определение территорий под затопление при проектировании объектов гидроэнергетики. Кадастровый учет и определение охранных зон;
              li #[a(href='#') Горнодобывающая отрасль.] Подготовка и проектирование объектов, предоставление точных расчетов объема выработки и мониторинг просадки грунта и других изменений на объектах;
              li #[a(href='#') Картографирование.] Получение точнейшей модели рельефа для создания ортофотопланов и построения изолиний;
              li #[a(href='#') Управление природными ресурсами] Создание на основе ВЛС моделей растительности позволяющих определять высоты деревьев и оценивать объем биомассы в самых труднодоступных районах. Мониторинг оползневых процессов, высот снежного покрова и движения горных ледников;
              li #[a(href='#') Городское хозяйство.] Создание трехмерных моделей и топопланов городских кварталов, промышленных объектов и других объектов градостроительного комплекса;
              li #[a(href='#') Археологические исследования.] Обнаружение и картирование скрытых археологических объектов и областей захоронений, 3d-визуализация и моделирование памятников архитектуры для последующей реставрации.
          .is-col.is-col__md-2.is-col__xs-12
            ul.list--unstyled
              li: a(href='#') Инженерно-геодезические изыскания
              li: a(href='#') Топографо-геодезические работы
              li: a(href='#') Инженерно-геологические изыскания
              li: a(href='#') Геофизические исследования 
              li: a(href='#') Инженерно-экологические изыскания
              li: a(href='#') Гидрометеорологические изыскания
              li: a(href='#') Лазерное сканирование
              li: a(href='#') ПроектированиеАвторский надзор
              li: a(href='#') Техобследование зданий и сооружений
              li: a(href='#') Экспертиза пром. безопасности
              li: a(href='#') Экологическое проектирование 
              li: a(href='#') Экоаудит Экомониторинг 
              li: a(href='#') Землеустроительные работы
              li: a(href='#') Кадастровые работы 
              li: a(href='#') Лесоустроительные работы
              li: a(href='#') Лесопатологические исследования
              li: a(href='#') Таксация лесов 
              li: a(href='#') Строительная испытательная лаборатория
              li: a(href='#') Лаб. испытания грунтов
              li: a(href='#') Лаб. определения загрязненности грунтов
              li: a(href='#') Хим. анализ водыОпределение плодородности почв
        h2.text--primary.text--uppercase ВЫБОР МЕТОДА ЛАЗЕРНОГО СКАНИРОВАНИЯ ЗАВИСИТ ОТ ПОСТАВЛЕННОЙ ЗАДАЧИ И КОНФИГУРАЦИИ ОБЪЕКТА:  
        ul.list--bullet
          li при сканировании небольших объектов, с максимально возможной точностью (единицы миллиметров) применяется наземное лазерное сканирование;
          li для сканирования больших площадных объектов от 1000 Га, а также для протяженных коридорных объектов целесообразно использование воздушного лазерного сканирования;
          li для значительных по протяженности линейных объектов, таких как участки авто- и ж/д дорог обычно используют мобильное лазерное сканирование.
        p.text--default ИСХОДЯ ИЗ ПЛОЩАДИ СЪЕМКИ, ОСОБЕННОСТЕЙ ТЕРРИТОРИЙ, ТРЕБУЕМОЙ ТОЧНОСТИ ДАННЫХ, МОЖНО ПОДОБРАТЬ ТОТ ИЛИ ИНОЙ МЕТОД СКАНИРОВАНИЯ ИЛИ ИХ КОМБИНАЦИЮ ДЛЯ НАИБОЛЕЕ ЭФФЕКТИВНОГО РЕШЕНИЯ ПОСТАВЛЕННЫХ ЗАДАЧ.
