main.page-main
  section
    .container
      include ../components/_breadcrumbs
      h1= title
      .text-item
        p  Наша компания ведет активную социальную политику. Мы оказываем прямую адресную помощь двум подшефным детским учреждениям в Ульяновской области, поддерживаем различные социальные проекты, направленные на защиту здоровья и детства, сохранение культурного наследия России. Одна из программ компании – выделение материальных средств на реставрацию храма в Нижегородской области.
        h4 Компания «Геопроектизыскания» — ответственный работодатель, мы не только формируем профессиональную команду единомышленников, но и не забываем о социальной защищенности наших сотрудников.
        p Наличие корпоративного транспорта, компенсация посещения спортивных учреждений (фитнесс-центров), программа добровольного медицинского страхования сотрудников, содействие в решении жилищных вопросов: предоставление общежитий иногородним сотрудникам, помощь в приобретении жилья — это часть социального пакета ООО «Геопроектизыскания». 
        h4 Мы активно привлекаем в компанию перспективных, молодых, энергичных специалистов. 
        p ООО «Геопроектизыскания» сотрудничает с ведущими ВУЗами страны, стажировка в нашей компании это прямая возможность войти в нашу команду. 
        h6.text--primary Работа в компании «Геопроектизыскания» — возможность реализовать свои профессиональные способности и выстроить карьеру в профессиональной среде. Мы заинтересованы в росте, поэтому наши специалисты проходят регулярное повышение квалификации, программы обучения и аттестации.
