main.page-main
  section
    .container
      include ../components/_breadcrumbs
      h1= title
      .text-item      
        .is-row
          - for (var x = 1; x < 9; x++)
            .is-col.is-col__md-6.is-col__xs-12.is-row.margbot40
              .is-col.is-col__xl-3.is-col__sm-4.is-col__xs-12
                .gallery__item-img
                  a(href='#'): img(src='images/license.jpg', alt='')
              .is-col.is-col__sm-8.is-col__xs-12
                a(href='#') Система менеджмента качества на соответствие требованиям международных стандартов ISO 9001:2008 
        include ../components/_paginator
