main.page-main
  section
    .container
      include ../components/_breadcrumbs
      .is-row.between__xs.middle__xs
        h1= title
        select(style='width:250px')
          option Москва
          option Москва
          option Москва
          option Москва
  section.bg--grey.padtop40
    .container
      .is-row
        - for (var x = 1; x < 7; x++)
          .is-col.is-col__md-6.is-col__xs-12.is-row.margbot40.middle__xs
            .is-col.is-col__xl-3.is-col__sm-4.is-col__xs-12.text--center
              img(src='images/ava.png', alt='')
            .is-col.is-col__xl-9.is-col__sm-8.is-col__xs-12
              h3: a(href='#') Алексеенко Николай Николаевич
              p: i Генеральный директор ООО "Геопроектизыскания"
  section
    .container
      .text-item
        h2.text--primary Отдел управления проектами:
        .is-row
          .is-col.is-col__md-6.is-col__xs-12.is-row.margbot40.middle__xs
            .is-col.is-col__xl-3.is-col__sm-4.is-col__xs-12.text--center
              img(src='images/ava.png', alt='')
            .is-col.is-col__xl-9.is-col__sm-8.is-col__xs-12
              h3: a(href='#') Алексеенко Николай Николаевич
              p: i Генеральный директор ООО "Геопроектизыскания"
        h2.text--primary Административный состав:
        .is-row
          - for (var x = 1; x < 7; x++)
            .is-col.is-col__md-6.is-col__xs-12.is-row.margbot40.middle__xs
              .is-col.is-col__xl-3.is-col__sm-4.is-col__xs-12.text--center
                img(src='images/ava.png', alt='')
              .is-col.is-col__xl-9.is-col__sm-8.is-col__xs-12
                h3: a(href='#') Алексеенко Николай Николаевич
                p: i Генеральный директор ООО "Геопроектизыскания"
        h2.text--primary Производственное подразделение:
        .is-row
          - for (var x = 1; x < 17; x++)
            .is-col.is-col__md-6.is-col__xs-12.is-row.margbot40.middle__xs
              .is-col.is-col__xl-3.is-col__sm-4.is-col__xs-12.text--center
                img(src='images/ava.png', alt='')
              .is-col.is-col__xl-9.is-col__sm-8.is-col__xs-12
                h3: a(href='#') Алексеенко Николай Николаевич
                p: i Генеральный директор ООО "Геопроектизыскания"
