main.page-main
  section
    .container
      include ../components/_breadcrumbs
      h1= title
  section.vacDescription
    .container
      .slider-vac
        - for (var x = 1; x < 6; x++)
          .item
            .is-row.middle__xs
              .is-col.is-col__md-3.is-col__xs-12.text--center
                i.vacDescription-icon: img(src='images/bus2.jpg', alt='')
              .is-col.is-col__md-8.is-col__xs-12
                span Наличие корпоративного транспорта Компенсация посещения спортивных учреждений (фитнесс-центров) 
  section.normative_base
    .container
      ul.list--inline
        li: a.active(href='#') Все города
        li: a(href='#') Москва
        li: a(href='#') Новосибирск
        li: a(href='#') Ростов-на-Дону
  section
    .container
      .text-item
        ul.collapse
          - for (var x = 1; x < 6; x++)
            li.collapse__item.collapse__item--js
              .collapse-link.collapse-link--js
                p.text__lg Тракторист-машинист
                p: i Москва
              .collapse-inner
                .is-row.stretch__xs.between__xs
                  .is-col.is-col__md-7.is-col__xs-12.is-row.is-row--null.column__xs
                    h5.text--uppercase Обязанности
                    ul.list--bullet
                      li Профессиональное вождение т/с, максимально обеспечивающее сохранность жизни и здоровья пассажиров и технически исправное состояние т/с;
                      li Выполнять "Правила дорожного движения";
                      li Содержать т/с в технически исправном и опрятном состоянии. 
                    h5.text--uppercase Требования
                    ul.list--bullet
                      li Водительское удостоверение с категорией "С", "Е";
                      li Опыт эксплуатации и знание материальной части МТЛБу, ТЛ-5АЛМ;
                      li Опыт работы не менее 2-х лет;
                      li Образование не ниже полного среднего. 
                    h5.text--uppercase Условия
                    ul.list--bullet
                      li Оклад +% премирование по результатам работы (от КТУ);
                      li Оформление по ТК РФ;
                      li Служебные командировки;
                      li Оформление ДМС;
                      li Иногородним помощь в общежитии.
                  .is-col.is-col__lg-3.is-col__md-4.is-col__xs-12.is-row.is-row--null.column__xs
                    .face-info
                      h6 Контактное лицо:
                      p.text__lg Вершинина Таисья
                      p.link-ico: a.text--primary(href='#', onclick="feedbackw(); return false;")
                        img(src='images/icons/write_letter.png', alt='')
                        span Написать письмо
                    .submit_request
                      a.btn.btn--outlined(href='#', onclick="resumew('Тракторист-машинист'); return false;") Оставить заявку                
        .notice.is-row.middle__xs
          .is-col.is-col__md-8.is-col__xs-12
            span.text__lg.text--primary Если Вы не нашли интересующую Вас вакансию, но хотите работать в нашей Команде – отправьте Ваше резюме воспользовавшись формой. 
          .is-col.is-col__md-4.is-col__xs-12.text--right
            button.btn.btn__lg.btn--outlined.qbtn(type='button', onclick="resumew(); return false;") Отправить заявку
