//- mixins


//- menu
mixin menu(items)
    ul.main-nav
        each item in items
            - var parent  = ''
            - if(item.subitems !== false) parent='main-nav__item--parent main-nav__item--js'
            li.main-nav__item(class=parent)
                a.main-nav__link(href=item.href, title=item.title)= item.title
                - if(item.subitems !== false)
                    ul.sub-nav
                        each subitem in item.subitems
                            li.main-nav__item
                                a.main-nav__link(href=subitem.href, title=subitem.title)= subitem.title

//- divs
mixin clock(items)
  each item in items
    .clock__item.clock__item--js(data-angl=item.angl, class=item.class, data-back=item.back)
      .clock__item-img: img(src=item.href, alt='')
      .clock__item-ico: .ico
      .clock__item-title: span= item.title

mixin clockmob(items)
  .slideshow
    each item in items
      .clock__item-mb(style='background:url('+item.backmb+') no-repeat center center / cover')
        .clock__item-img: img(src=item.href, alt='')
        .clock__item-title: span= item.title
  

//- form-input
mixin fieldInput(type, name, id, label, placeholder, data, required)
    label.label(for=id)= label
    input.control(type=type, name=name, id=id, placeholder=placeholder, data-label=data, required=required)

//- form-textarea
mixin fieldTextarea(name, id, label, placeholder, rows, data, required)
    label.label(for=id)= label
    textarea.control(name=name, id=id, placeholder=placeholder, rows=rows,  data-label=data, required=required)

//- form-checkbox
mixin fieldCheckbox(name, id, checked)
    .checkbox
        input(type="checkbox", id=id, checked=checked)
        label(for=id)=name

//- form-radio
mixin fieldRadio(name, id, label, checked)
    .radio
        input(type="radio", id=id, value=id, name=label, checked=checked)
        label(for=id)=name


//- maps-iframe
- var map = 'iframe src="putMapURLhere" width="100%" height="400" frameborder="0" style="pointer-events: none;" allowfullscreen></iframe';


//- article
mixin article(title)
  .article
    .article-wrapper
      h1= title
      if block
        block
      else
        p No content provided
