extends layouts/_default

block title
    title Case__fly
    - var title = 'Материально-техническая база'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_base

block siteFooter
    include partials/_footer
