extends layouts/_default

block title
    title Case__fly
    - var title = 'География деятельности'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_geography

block siteFooter
    include partials/_footer
