extends layouts/_default

block title
    title Case__fly
    - var title = 'Свидетельства и лицензии'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_license

block siteFooter
    include partials/_footer
