extends layouts/_default

block title
    title Case__fly
    - var title = 'Референс-лист'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_reference

block siteFooter
    include partials/_footer
