extends layouts/_default

block title
    title Case__fly
    - var title = 'Портфолио работ'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_portfolio

block siteFooter
    include partials/_footer
