extends layouts/_default

block title
    title Case__fly
    - var title = 'Нормативно-правовая база'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_rights

block siteFooter
    include partials/_footer
