extends layouts/_default

block title
    title Case__fly
    - var title = 'Социальная ответственность'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_social

block siteFooter
    include partials/_footer
