extends layouts/_default

block title
    title Case__fly
    - var title = 'Система менеджмента качества'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_system

block siteFooter
    include partials/_footer
