extends layouts/_default

block title
    title Case__fly
    - var title = 'Заголовок'

block pageName
    -var pageName = "index"

block siteHeader
    include partials/_header

block siteMain
    include pages/_text-template

block siteFooter
    include partials/_footer
